/************************* Formateamos el margin y el padding de todo el documento *************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/************************************************* HEADER *************************************************/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  /* margin-bottom: -30px; */
}

.menu__img {
  margin-left: 200px;
}

.menu__list {
  display: flex;
  list-style: none;
  font-size: 20px;
  font-family: "Merriweather", serif;
  font-weight: 1000px;
}

.list__link1 {
  margin-right: 50px;
}

.list__link2 {
  margin-right: 150px;
}

.menu__list a {
  text-decoration: none;
  color: darkblue;
}
a:active {
  color: #0811b3;
}

/************************************************* MAIN *************************************************/
.tittle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #add9e6;
}

.tittle__main {
  width: 170px;
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.tittle__img {
  width: 600px;
  padding: 20px;
}

/************************************************* SECTIONS *************************************************/
.main {
  margin: 100px;
  margin-top: auto;
  margin-bottom: auto;
}

.section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-around;
  height: auto;
}

.card {
  width: 300px;
  height: 350px;
  border: 5px solid #a0d3a6;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 50px;
  margin: 10px;
}

.container__p {
  width: 250px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 30px;
}

.container__link {
  padding: 10px 30px;
  background-color: #a0d3a6;
  color: darkblue;
  text-decoration: none;
}

.efect:hover {
  background-color: #96dfa0;
  padding: 10px 30px;
}
.efect:active {
  background-color: #a0d3a6;
  padding: 10px 30px;
}

/************************************************* FOOTER *************************************************/
.footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100px;
  background-color: #add9e6;
  font-family: Arial, Helvetica, sans-serif;
}

.footer__img {
  border-radius: 50%;
  /* margin-left: 100px; */
}

.footer__p1 {
  color: white;
  font-size: 20px;
  /* margin-right: 600px; */
}

.footer__p2 {
  color: white;
  font-size: 15px;
  /* margin-right: 100px; */
}

@media (max-width: 1176px) {
  .menu {
    justify-content: space-evenly;
  }

  .tittle {
    justify-content: center;
  }

  .tittle__main {
    font-size: 30px;
  }

  .tittle__img {
    width: 500px;
  }
  .footer {
    justify-content: space-evenly;
  }
}

@media (max-width: 856px) {
  .menu {
    flex-direction: column;
  }
  .menu__list {
    flex-direction: column;
    background: chartreuse;
    text-align: justify;
  }

  .tittle {
    flex-direction: column;
    max-width: 100%;
  }

  .tittle__main {
    font-size: 30px;
  }

  .tittle__img {
    width: 400px;
  }
  .footer {
    flex-direction: column;
  }
}
